<div class="navigation-container" style="border: none;">

    <!-- back arrow -->
    {% if hole %}
    <a class="arrow-button text-dark" style="transform: scaleX(-1);"
        href="{{ url_for('live_detail', course=all_courses[(all_courses.index(course)-1) % all_courses|length], hole=1) }}">&#x27A4;</a>
    {% else %}
    <a class="arrow-button text-dark" style="transform: scaleX(-1);"
        href="{{ url_for('live_summary', course=all_courses[(all_courses.index(course)-1) % all_courses|length]) }}">&#x27A4;</a>
    {% endif %}

    <!-- Course Name -->
    <a class="text-center fs-3 course-nav-text text-dark" href="{{ url_for('live_summary', course=course) }}">{{ course }}</a>

    <!-- next arrow -->
    {% if hole %}
    <a class="arrow-button text-dark"
        href="{{ url_for('live_detail', course=all_courses[(all_courses.index(course)+1) % all_courses|length], hole=1) }}">&#x27A4;</a>
    {% else %}
    <a class="arrow-button text-dark"
        href="{{ url_for('live_summary', course=all_courses[(all_courses.index(course)+1) % all_courses|length]) }}">&#x27A4;</a>
    {% endif %}

</div>