.label-above {
    display: block;
    font-size: 1.0rem;
    color: #666;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
}

th.sorted {
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.course-tab {
    font-size: 0.85rem;
    padding: 8px;
    color: black;
}

.filter-button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: medium;
}
