.scrollable-table-container {
    overflow: auto;
}

.scrollable-table {
    text-align: center;
    overflow-x: auto;
    font-size: medium;
}

.scrollable-table th {
    border-bottom: 4px solid #000;
}