.label-above {
    display: block;
    /* Make the label take its own line */
    font-size: 1.0rem;
    /* Smaller font size */
    color: #666;
    /* Slightly muted color */
    margin-bottom: 0.25rem;
    /* Space between label and button */
    margin-left: 0.25rem;
}

.course-tab {
    font-size: 0.85rem;
    padding: 8px;
    color: black;
}