<div class="dropdown" style="padding-left: 1px; padding-right: 1px;">
    <span class="label-above">Course</span>
    <button class="btn btn-success dropdown-toggle filter-button" type="button" data-bs-toggle="dropdown"
        aria-expanded="false" data-key="{{ course or '' }}" id="course-dropdown">
        {{ course or 'All' }}
    </button>
    <ul class="dropdown-menu">
        {% if include_all_courses %}
        <li><a class="dropdown-item" onclick="setCourseDropdown('', 'All')">All</a></li>
        {% endif %}
        {% for c in courses %}
        <li><a class="dropdown-item" onclick="setCourseDropdown('{{ c }}', '{{ c }}')">{{ c }}</a></li>
        {% endfor %}
    </ul>
</div>