<div class="dropdown" style="padding-left: 1px; padding-right: 1px;">
    <span class="label-above">Golfer</span>
    <button class="btn btn-success dropdown-toggle filter-button" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-key="{{ golfer or golfers[0] }}" id="golfer-dropdown">
        {{ golfer or golfers[0] }}
    </button>
    <ul class="dropdown-menu">
        {% for g in golfers %}
        <li><a class="dropdown-item" onclick="setGolferDropdown('{{ g }}', '{{ g }}')">{{ g }}</a></li>
        {% endfor %}
    </ul>
</div>