{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stats/scorecard.css') }}">

<h1 style="padding-top: 10px;">Scorecard</h1>

<div style="display: flex;">
    {% include "stats/course_dropdown.html" %}
    {% include "stats/year_dropdown.html" %}
    {% include "stats/statistic_dropdown.html" %}
</div>

<div>
    <table class="table table-sm table-equal-cells" style="text-align: center; font-size: medium;">

        <!-- Initials at the top -->
        <thead>
            <tr>
                <th>#</th>
                {% for g in golfers %}
                <th>{{ g.split(' ')[0][0]+g.split(' ')[1][0] }}</th>
                {% endfor %}
            </tr>
        </thead>

        <!-- Total scores +/- -->
        <thead>
            <tr>
                <th>&#931</th>
                {% for g in golfers %}
                <th style="font-weight: normal;">{{ scorecard[g]['total'][statistic or 'score'] }}</th>
                {% endfor %}
            </tr>
        </thead>

        <!-- body of table -->
        <tbody>
            {% for h in holes %}
            <tr>
                <td style="font-weight: bold;">{{ h }}</td>
                {% for g in golfers %}
                <td>{{ scorecard[g][h][statistic or 'score'] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='js/stats/scorecard.js') }}"></script>

{% endblock %}